<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>EWUConnect</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;display=swap" />
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css'%}" />
  <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css'%}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
 </head>
<html>
    <body style="background: #c9d7e8;">
        {% block body %}

        {% endblock body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/script.min.js'%}"></script>
    </body>

</html>