{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %} 
{%block body %} {% include 'home/navbar.html' %}

<div class="d-inline-flex d-xxl-flex position-absolute" style="
    width: device-width;
    height: 100%;
    margin: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  ">
  <div class="row" style="
      width: device-width;
      height: 100%;
      margin-left: 0px;
      margin-right: 0px;
    ">
    <!-- left column starts -->
    <div class="col-3 col-xxl-3">
      <div class="d-xxl-flex justify-content-xxl-start" style="width: 100%; height: 100%; margin-left: 20px;">
        <ul class="list-group" style="width: 100%; height: 100%; margin-top: 5px">
          <li class="list-group-item"><span>Groups</span></li>
          <li class="list-group-item"><span>Events</span></li>
          <li class="list-group-item"><span>People</span></li>
        </ul>
      </div>
    </div>
    <!-- Left Column End -->
    <!-- Timeline column starts -->
    <div class="col">
      <div class="d-xxl-flex justify-content-xxl-center" style="width: 100%; height: 100%">
        <div class="col">
          <div class="card" style="width: 100%; margin-bottom: 10px">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" style="font-family: Roboto, sans-serif">
                  <h1 style="
                      font-size: 30px;
                      font-family: Roboto, sans-serif;
                      margin-left: 10px;
                    ">
                    Post
                  </h1>
                </li>
              </ul>
            </div>
            <div class="card-body" style="font-family: Roboto, sans-serif">
              <div class="row justify-content-center mt-3 mb-5">
                <div class="col border-bottom">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ form | crispy }}
                    <div class="d-grid gap-2">
                      <button class="btn btn-success mt-3">Submit!</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% for post in post_list %}
          <div class="card border rounded shadow-sm" style="margin-top: 5px; margin-bottom: 10px">
            <div class="card-body">
              <div class="d-xxl-flex align-items-xxl-center" style="
                  margin: 5px;
                  margin-bottom: 10px;
                  font-family: Roboto, sans-serif;
                ">
                <div class="row d-xxl-flex align-items-xxl-center">
                  <div class="col d-xxl-flex align-items-xxl-center">
                    <h4 style="
                        font-size: 15px;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 0px;
                        margin-top: 10px;
                        font-family: Roboto, sans-serif;
                      ">
                      {{ post.author }}
                    </h4>
                  </div>
                </div>
              </div>
              <h1 class="text-muted card-subtitle mb-2" style="
                  font-size: 10px;
                  margin-left: 5px;
                  margin-top: -2px;
                  font-family: Roboto, sans-serif;
                ">
                {{post.created_on}}
              </h1>
              <p>{{ post.body }}</p>

              {% if post.image %}
              <img src="{{ post.image.url }}" class="post-image rounded" style="width: 100%; height: 100%" />
              {% endif %}
              <a href="{% url 'post-detail' post.pk %}" class="btn btn-sm btn-primary mt-2">See More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- timeline column ends -->
  <!-- last column starts -->
  <div class="col-2">
    <div class="d-xxl-flex justify-content-xxl-start" style="width: 100%; height: 100%">
      <ul style="margin-top: 5px; width: 100%; height: 100%">
        <li>Chat username 1</li>
        <li>Chat username 2</li>
        <li>Chat username 3</li>
        <li>Chat username 4</li>
      </ul>
    </div>
  </div>
  <!-- Last Column Ends -->
</div>

{% endblock body %}