{% extends 'users/base.html'%}
{% load static %}

{% block title %}{{ profile.user.name }}{% endblock title %}

{% block content %}
<div class="row row-cols-1 align-items-center" style="width: 100%;">

    {% include 'users/navbar.html' %}

    <div class="col-12">
        <div style="width: 100%; height: 100%; margin: 5px;">
            <div style="margin: 5px; margin-right: 40%; margin-left: 40%;">
                {% if profile.image %}
                <a href="{{ profile.image.url }}" target="_blank">
                    <img class="rounded-circle"
                         data-bss-hover-animate="pulse"
                         src="{{ profile.image.url }}"
                         style="width: 250px; height: 250px;"/>
                </a>
                {% else %}
                <img class="rounded-circle"
                         data-bss-hover-animate="pulse"
                         src="{% static 'img/user-placeholder.png' %}"
                         style="width: 250px; height: 250px;"/>
                {% endif %}
            </div>
            <div style="width: 100%; height: 100%; margin-right: 15%; margin-left: 15%;">

                <div class="card" style="width: 70%; margin: 5px;">

                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item"><a class="nav-link" href="#" style="font-family: Roboto, sans-serif;">Posts</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" href="#"
                                                    style="font-family: Roboto, sans-serif;">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" style="font-family: Roboto, sans-serif;">Photos</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title" style="font-family: Roboto, sans-serif;">{{ profile.user.name }}</h4>
                        <h6 class="text-muted card-subtitle mb-2" style="font-family: Roboto, sans-serif;">
                            {{ profile.user.email }}
                        </h6>
                        {% if profile.bio %}
                        <p class="card-text" style="font-family: Roboto, sans-serif;">
                            {{ profile.bio }}
                        </p>
                        {% else %}
                        {% if is_self %}
                        <button
                                class="btn btn-primary bg-primary border rounded-pill"
                                type="button"
                                style="width: 10%; height: 45px; margin: 0px; margin-top: 5px; margin-bottom: 5px; margin-right: 5px; font-family: Roboto, sans-serif; background: rgb(120, 194, 173);"
                        >Add Bio
                        </button>
                        {% endif %}
                        {% endif %}

                        {% if not is_self %}
                        <button class="btn btn-success border rounded-pill" type="button"
                                style="font-family: Roboto, sans-serif; width: 75px; height: 45px; margin: 5px;">Follow
                        </button>

                        <button class="btn btn-primary border rounded-pill" type="button"
                                style="font-family: Roboto, sans-serif; height: 45px; width: 95px; margin: 5px;">Message
                        </button>
                        <button class="btn btn-dark border rounded-pill" type="button"
                                style="font-family: Roboto, sans-serif; font-weight: bold; width: 50px; height: 45px; margin: 5px;">
                            . . .
                        </button>
                        {% endif %}
                    </div>
                </div>

                <div class="card" style="width: 70%; margin: 5px;">
                    <div class="card-header"><h5 class="mb-0" style="font-family: Roboto, sans-serif;">Education &amp;
                        Career</h5></div>
                    <div class="card-body" style="background: #dfe7f1;">
                        <ul class="text-capitalize text-start text-body" style="font-family: Roboto, sans-serif;">
                            <li>Software Engineer at Moogle since 2021</li>
                            <li>Intern from Gicrosoft from 2015-2016</li>
                            <li>CSE from EWU</li>
                            <li>HSE from ABC college, Dhaka</li>
                        </ul>
                    </div>
                    <button
                            class="btn btn-primary bg-primary border rounded-pill"
                            type="button"
                            style="width: 10%; height: 45px; margin: 0px; margin-top: 5px; margin-bottom: 5px; margin-right: 5px; margin-left: 20px; font-family: Roboto, sans-serif; background: rgb(120, 194, 173);"
                    >
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

