{% extends 'users/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Sign Up{% endblock title %}

{% block content  %}
<div>
    <nav class="navbar navbar-light navbar-expand-md d-xl-flex"
         style="height: auto;width: auto;text-align: left;background: rgb(241,247,252);">
        <div class="container-fluid">
            <div class="d-xxl-flex align-items-xxl-center">
                <img src="{%static 'img/EWUConnect_Logo_Logo.png'%}" style="width: 80px;margin-left: 20px;">
                <a class="navbar-brand" href="#"
                   style="font-family: 'Bebas Neue', serif;font-size: 30px;margin-top: 5px;color: #222222;margin-left: 5px;">
                    <strong>EWUConnect</strong>
                </a>
            </div>
            <div>
                <a class="btn btn-lg animated" href="{% url 'login'%}" data-bss-disabled-mobile="False"
                   data-bss-hover-animate="bounce" type="button"
                   style="color: rgb(33,74,128);background: rgba(33,74,128,0);font-family: Roboto, sans-serif;font-size: 16px;width: 100px;height: 60px;border-radius: 0px;font-weight: bold;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;">Log
                    In</a>
            </div>
        </div>
    </nav>
</div>


<div class="container bounce animated"
     style="width: 400px;padding: 5px;padding-top: 20px; padding-bottom: 30px;height: auto;background: var(--bs-white);border-radius: 4px;border-width: 4px;border-right-width: 6px;border-bottom-width: 4px;border-bottom-color: #505e6c;box-shadow: 1px 1px 5px rgba(0,0,0,0.1);padding-right: 40px;padding-bottom: 40px;padding-left: 40px;margin-top: 12px;">
    <div class="d-xxl-flex" style="width: 320px;">
        <i class="material-icons d-flex d-xxl-flex" style="font-size: 65px; color: #214a80; margin-left: 135px;">
            account_circle</i>
    </div>

    <form method='post' style="padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;width: 320px;">
        {% csrf_token %}

        <div class="mb-3" style="width: auto;height: auto;">
            {{ form.name|add_class:"form-control"|attr:"autofocus" }}
        </div>
        <div class="mb-3" style="width: auto;height: auto;">
            {{ form.email|add_class:"form-control" }}
            {{ form.email.errors }}
            <p>{{ form.email.help_text|safe }}</p>
        </div>

        <div class="mb-3" style="width: auto;height: auto;">
            {{ form.password1|add_class:"form-control" }}
            {{ form.password1.errors }}
            <p class="help">{{ form.password1.help_text|safe }}</p>
        </div>

        <div class="mb-3" style="width: auto;height: auto;">
            {{ form.password2|add_class:"form-control" }}
            {{ form.password2.errors }}
            <p class="help">{{ form.password2.help_text|safe }}</p>
        </div>

        <div class="mb-3">
            {{ form.check }}
            <span class="label-agree-term">
                I agree to all statements in <a href="#">Terms of service</a>
                and <a href="#">Privacy Policy</a>.
            </span>
        </div>

        <button class="btn btn-primary d-block w-100" type="submit"
                style="background: #214a80;font-family: Roboto, sans-serif;margin-top: 25px;">Sign Up
        </button>
    </form>

</div>
{% for message in messages %}
<div class="d-xxl-flex" style="width: 320px; height: 100px; margin-left: 500px;">
    <p class="p-md-3 bg-danger text-center text-white rounded-pill" style="margin-top:10px">{{message}}</p>
</div>
{% endfor %}
{% endblock content %}
