{% extends 'posts/base.html' %}
{% include 'posts/navbar.html' %}


{% block title %}
    All Posts
{% endblock  %}

{% block content %}
    <section id="summary">
      <h2>Post Title</h>
      <article>
        <img src="" alt="">
        <address></address>
        <div>
        </div>
      </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Impedit, asperiores expedita eum consequuntur nesciunt deserunt voluptates assumenda!
            Laborum fuga esse eaque dolorem officia suscipit in nostrum quisquam! 
            Ducimus, laudantium similique.
        </p>
    </main>
{% endblock %}